.main-content
  h1 
    | Moleskine Notebooks
    small Hover on any notebook...
    
  .moleskine-wrapper
    .moleskine-notebook
      .notebook-cover
        .notebook-skin MOLESKINE
      .notebook-page
    h4 Plain
  .moleskine-wrapper
    .moleskine-notebook
      .notebook-cover.blue
        .notebook-skin MOLESKINE
      .notebook-page.ruled
    h4 Ruled
  .moleskine-wrapper
    .moleskine-notebook
      .notebook-cover.yellow
        .notebook-skin MOLESKINE
      .notebook-page.squared
    h4 Squared
  .moleskine-wrapper
    .moleskine-notebook
      .notebook-cover.green
        .notebook-skin MOLESKINE
      .notebook-page.dotted
    h4 Dotted
  
  footer
    a(href="https://twitter.com/meowlivia_" target="_blank")
      i.icon-social-twitter.icons
    a(href="https://github.com/oliviale" target="_blank")
      i.icon-social-github.icons
    a(href="https://dribbble.com/oliviale" target="_blank")
     i.icon-social-dribbble.icons