---
layout: blank
---
<main>
  <article>
    <header>
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>
          MathJax.Hub.Config({
              config: ["MMLorHTML.js"],
              extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
              jax: ["input/TeX"],
              tex2jax: {
                  inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                  displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                  processEscapes: false
              },
              TeX: {
                  TagSide: "right",
                  TagIndent: ".8em",
                  MultLineWidth: "85%",
                  equationNumbers: {
                     autoNumber: "AMS",
                  },
                  unicode: {
                     fonts: "STIXGeneral,'Arial Unicode MS'"
                  }
              },
              showProcessingMessages: false
          });
      </script>
    </header>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            TeX: {
                TagSide: "right",
                TagIndent: ".8em",
                MultLineWidth: "85%",
                equationNumbers: {
                   autoNumber: "AMS",
                },
                unicode: {
                   fonts: "STIXGeneral,'Arial Unicode MS'"
                }
            },
            showProcessingMessages: false
        });
    </script>
{{ content }}
    <!-- {% if site.comments.isso and page.comments %}
    <hr><div id="isso-thread"></div>
    {% endif %}
    {% if site.comments.disqus and page.comments %}
    <hr><div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %} -->

  </article>
</main>
